<!-- <p>login works!</p> -->

<header>
    <title>Family Resturant</title>
    <!-- <link rel="stylesheet" href="./asset/css/style.css"> -->
</header>

<body>

    <section>

        <div class="form-box">

            <div class="form-value">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <h2>Login</h2><br>

                    <div class="inputbox">


                        <input type="id" id="name" formControlName="name" name="name" required>

                        <label>Name</label>

                    </div>

                    <div class="inputbox">


                        <input type="mob" id="mob" formControlName="mob" name="mob" required (input)="onMobileInput($event)">
                        <label>Mobile Number</label>
                        <div id="error-message" style="color: red;"></div>
                    </div>

                    <div *ngIf="loginForm.get('mob')?.hasError('nonInteger')" style="color: red;">Please enter only integers.</div>
  <div *ngIf="loginForm.get('mob')?.hasError('maxlength')" style="color: red;">Mobile number should be 10 digits or less.</div>

                    <button type="submit" >Log In</button>

                    <div class="register">

                        <p>Don't have an account? <a routerLink="/reg" target="_blank">Sign Up</a></p>

                    </div>

                </form>

            </div>

        </div>

    </section>

    <!-- ion-icon installation: Start -->

    <!-- <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script> -->
    <script type="module" src="./asset/script/ion-icons.esm.js"></script>
    <!-- <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> -->
    <script nomodule src="./asset/script/ion.icons.js"></script>
    <!--ion-icon installation: End-->
<!-- <script src="./asset/script/customScript.js"></script> -->
</body>

